<script src="{{ STATIC_URL }}js/jqBootstrapValidation.js"></script>
<script type="text/javascript">
	$(function () {
		$("input,select,textarea")
			.not("[type=submit]")
			.jqBootstrapValidation();
	});
</script>