body {
	background-color: #e0e0e0;
}

.quote {
	width        : 80%;
	padding-top  : 18%;
	max-width    : 570px;
	margin       : 0 auto;
	padding-left : 60px;
	margin-bottom: 30px;
}


.quote cite {
	margin-top : 30px;
	font-size  : 22px;
	display    : block;
	text-align : right;
	color      : #817f6b;
	white-space: nowrap;
}

.quote p {
	color    : #58585a;
	font-size: 30px;
}

.quote p:before {
	float         : left;
	display       : inline-block;
	vertical-align: top;
	width         : 50px;
	margin-right  : -50px;
	margin-top    : -35px;
	margin-left   : -90px;
	content       : "\201C";
	font-size     : 150px;
	color         : #aaa790;
}

blockquote {
	quotes: none;
	border: none;
}

.tired {
	position: absolute;
	top     : 100px;
	left    : 40px;
}

.error {
	width      : 80%;
	font-size  : 70px;
	font-family: fantasy;
	clear      : both;
	position   : absolute;
	top        : 10px;
	left       : 50px;
	color      : #58585a;
	text-align : center;
}