{% load i18n %}
<section id="starting" class="content-section text-center">
	<div class="starting-section">
		<div class="container">
		{% if user.is_authenticated %}
			{% include "application/main.html" %}
		{% else %}
			{% include "application/starting.html" %}
		{% endif %}
		</div>
	</div>
</section>