{% load i18n %}

<ul class="nav nav-tabs">
	<li class="active"><a href="#profile" data-toggle="tab">{% trans 'Profile'         %}</a></li>
	<li               ><a href="#search"  data-toggle="tab">{% trans 'Search'          %}</a></li>
	<li               ><a href="#share"   data-toggle="tab">{% trans 'Share your ride' %}</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane fade in active" id="profile">{% include "application/profile.html" %}</div>
	<div class="tab-pane fade"           id="search" >{% include "application/search.html"  %}</div>
	<div class="tab-pane fade"           id="share"  >{% include "application/share.html"   %}</div>
</div>