{% load i18n %}

<div class="col-lg-10 col-lg-offset-1" style="min-height:200px">
	<h3>{% trans 'Looking for a ride' %}</h3>
	<form class="form-inline" role="form" id="search">
		{% csrf_token %}
		{% include "common/form_inline_input_inc.html" with field_name='departure_city' field_label='Departure city' field_placeholder='Enter departure city' %}
		{% include "common/form_inline_input_inc.html" with field_name='arrival_city'   field_label='Arrival city'   field_placeholder='Enter arrival city'   %}

		{% include "common/datetime_picker_inc.html" with field_name='departure_date' field_placeholder='Enter departure date' %}
		{% include "common/datetime_picker_inc.html" with field_name='arrival_date'   field_placeholder='Enter arrival date'   %}
		<div class="checkbox">
			<label>
				<input name="strict_mode" type="checkbox"> {% trans 'Strict mode' %}
			</label>
		</div>
		<button type="submit" class="btn btn-default">{% trans 'Search' %}</button>
	</form>
	<div style="margin-top:20px">
		{% include 'common/journey_table_inc.html' with table_name='journeys_search_results' %}
	</div>
</div>

{% include 'common/cities_autocomplete_inc.html'                %}
{% include 'jquery_templates/journey_reservation_template.html' %}

<script>
	$(function () {
		$("#journeys_search_results").hide();
		autocomplete_city("departure_city");
		autocomplete_city("arrival_city");

		var nowTemp = new Date();
		var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

		var checkin = $('#departure_date').datepicker({
			onRender: function(date) {
				return date.valueOf() < now.valueOf() ? 'disabled' : '';
		}}).on('changeDate', function(ev) {
			if (ev.date.valueOf() > checkout.date.valueOf()) {
				var newDate = new Date(ev.date)
				newDate.setDate(newDate.getDate());
				checkout.setValue(newDate);
			}
			checkin.hide();
			$('#arrival_date')[0].focus();
		}).data('datepicker');

		var checkout = $('#arrival_date').datepicker({
			onRender: function(date) {
				return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
		}}).on('changeDate', function(ev) {
			checkout.hide();
		}).data('datepicker');

		$("#search").submit(function(e){
			e.preventDefault();
			var form = $(this);
			("#journeys_search_results tbody").innerHTML="";
			$.ajax({
				url     : "{% url 'search_api' %}",
				method  : "POST",
				dataType: "json",
				data    : form.serialize(),
				success: function(data) {
					console.log(data);
					if(data.journeys.length > 0){
						$("#journeys_search_results").show();
						for(i=0;i<data.journeys.length;i++){
							data.journeys[i].arrival_date   = new Date(data.journeys[i].arrival_date  ).toLocaleString()
							data.journeys[i].departure_date = new Date(data.journeys[i].departure_date).toLocaleString();
							$("#journeyTemplate").tmpl(data.journeys[i]).appendTo("#journeys_search_results tbody");
					}}else{
						$("#journeys_search_results").hide();
				}},
				error: function() {
					alert("{% trans 'Search request failed' %}'");
		}})});
		$('#search_results').footable();
	});

	join_journey = function(e){
		reservation_status = e.innerHTML == "Reserve";
		$.ajax({
			url     : "{% url 'reservation_api' %}",
			method  : "POST",
			dataType: "json",
			data    : {
				operation          : reservation_status,
				journey_id         : e.value,
				csrfmiddlewaretoken: $.cookie('csrftoken'),
			},
			success : function(data) {
				console.log(data);
				if(data.status){
					if(reservation_status){
						alert("{% trans 'Reservation successful' %}");
						e.innerHTML = "{% trans 'Reserved' %}";
						e.style.backgroundColor="yellow";
					}else{
						alert("{% trans 'Reservation canceled' %}");
						e.innerHTML = "{% trans 'Reserve' %}";
						e.style.backgroundColor="";
				}} else {
					alert("{% trans 'Reservation operation failed with message:' %}" +data.message);
			}},
			error   : function () {
				alert("{% trans 'Reservation failed' %}");
	}})}
</script>