{% load i18n %}

<div class="col-lg-10 col-lg-offset-1" style="min-height:200px">
	<h3>{% trans 'Start sharing' %}</h3>
	{% load i18n %}

	<form id="sharing_form" role="form" class="form-horizontal">
		{% csrf_token %}
		{% include "common/form_input_inc.html" with field_name="share_price"          field_label="Price"          field_placeholder="Enter price"          %}
		{% include "common/form_input_inc.html" with field_name="share_places"         field_label="Places"         field_placeholder="Enter places"         %}
		{% include "common/form_input_inc.html" with field_name="share_departure_city" field_label="Departure city" field_placeholder="Enter departure city" %}
		{% include "common/form_input_inc.html" with field_name="share_arrival_city"   field_label="Arrival city"   field_placeholder="Enter arrival city"   %}
		{% include "common/form_input_inc.html" with field_name="share_departure_date" field_label="Departure date" field_placeholder="Enter departure date" %}
		{% include "common/form_input_inc.html" with field_name="share_arrival_date"   field_label="Arrival date"   field_placeholder="Enter arrival date"   %}
		<input class="btn btn-default btn-lg" type="submit" value="{% trans "share" %}" />
		<input type="hidden" id="share_arrival_city_id"   name="share_arrival_city_id" value=""   />
		<input type="hidden" id="share_departure_city_id" name="share_departure_city_id" value="" />
	</form>
</div>

<script type="text/javascript">
	$(function () {
		autocomplete_city("share_departure_city");
		autocomplete_city("share_arrival_city");

		var nowTemp = new Date();
		var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

		var checkin = $('#share_departure_date').datepicker({
			onRender: function(date) {
				return date.valueOf() < now.valueOf() ? 'disabled' : '';
		}}).on('changeDate', function(ev) {
			if (ev.date.valueOf() > checkout.date.valueOf()) {
				var newDate = new Date(ev.date)
				newDate.setDate(newDate.getDate());
				checkout.setValue(newDate);
			}
			checkin.hide();
			$('#share_arrival_date')[0].focus();
		}).data('datepicker');

		var checkout = $('#share_arrival_date').datepicker({
			onRender: function(date) {
				return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
		}}).on('changeDate', function(ev) {
			checkout.hide();
		}).data('datepicker');

		$("#sharing_form").submit(function(e){
			e.preventDefault();
			var form = $(this);
			$.ajax({
				url     : "{% url 'share_api' %}",
				method  : "POST",
				dataType: "json",
				data    : form.serialize(),
				success: function(data) {
					console.log(data);
					alert("{% trans 'jourey shared successfuly' %}");
				},
				error: function() {
					alert("{% trans 'Search request failed' %}'");
		}})});
		$('#search_results').footable();
	});

</script>