{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<div class="col-lg-10 col-lg-offset-1">
		<h2>{% trans 'Welcome to the car sharing application' %}</h2>
		<br/>
		<h3>{% trans 'Introduction' %}</h3>
			<p>
				{% blocktrans %}
				This simple application will help users to organize a collective sharing
				of their vehicules across multiple cities. We have decided to limit the cities
				served by the application to Germany.

				To do so, the user have to register in the system using the registration form, once
				done he can connect via the login page.

				After navigating to the application section in the main page using the "Starting your journey"
				link in the top menu, or by scrolling down to the middle of the page, the user will find somme
				suggestions based on the city he chosed as his residence in the registration form. He also will find
				all the pending journeys that he has reserved.

				He can also search for a specific trip using the search form, by providing the following informations:
				<ul>
					<li>departure city</li>
					<li>arrival city</li>
					<li>range start date</li>
					<li>range start date</li>
				</ul>
				By default, the search engine will check for a strong mapping for the cities and a loose one for the
				dates.This mean that the departure and arrival cities must be exaclty the same in the search form and
				the journey configuration, by constrast, the dates are used as an interval and the result will contain
				all the journeys having either the departure or the arrival date between the two dates selected in the
				search form.

				An optional checkbox will force the usage of the strict mode in which the strong correspondance will be
				inforced on both the cities and dates. In this mode the first date must correspond to the departure date
				and the second one to the arrival date.
				<br>
				<br>
				Once the search result fetched, the user can select to reserve a place in one of the jouneys, the system
				will check for logical constraints like reserving two places in the same trip or reserving two trips with
				overlapping date ranges.

				The last operation possible in the application is to define own journeys, all the usual logical verifications
				will apply also here.
			{% endblocktrans %}
			</p>
	</div>
{% endblock %}
