{% load i18n %}

<script id="journeyDisplayTemplate" type="text/x-jquery-tmpl">
	<tr>
		<td>${departure_city}</td>
		<td>${arrival_city}</td>
		<td>${departure_date}</td>
		<td>${arrival_date}</td>
		<td>${price} €</td>
		<td>${driver_first_name} ${driver_last_name}</td>
	</tr>
</script>