{% load i18n %}

{% blocktrans %}
	<p>
		You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.
		<br/>
		Please go to the following page and choose a new password:
		{% block reset_link %}
		   {{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
		{% endblock %}
		<br/>
		Your username, in case you've forgotten: {{ user.username }}
		<br/>
		Thanks for using our site!
		<br/>
		The {{ site_name }} team.
	</p>
{% endblocktrans %}