{% load i18n %}

<div class="form-group">
	<label for="{{field_name}}" class="col-sm-2 control-label">{% trans field_label %}</label>
	<div class="col-sm-8 controls">
		<input id="{{field_name}}" class="form-control" name="{{field_name}}" type="file" placeholder="{% trans field_placeholder %}" required >
		<input id="{{field_name}}_id" name="{{field_name}}_id" type="hidden" value="">
		<p class="help-block"></p>
	</div>
	<div class="col-sm-2 controls">
		<img id="{{field_name}}_preview" class="form-control" src="" >
	</div>
</div>