{% load i18n %}

<table id="{{ table_name }}" class="footable" data-page-size="5">
	<thead>
		<tr>
			<th>{% trans 'departure date' %}</th>
			<th>{% trans 'arrival date'   %}</th>
			<th>{% trans 'price'          %}</th>
			<th>{% trans 'driver'         %}</th>
			<th>{% trans 'places'         %}</th>
			<th>{% trans 'Reservation'    %}</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>