{% load i18n %}

<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>{% trans 'About Car sharing' %}</h2>
			<p>{% trans 'The principle of carsharing is that individuals gain the benefits of private cars without the costs and responsibilities of ownership. Instead a household accesses a fleet of vehicles on an as-needed basis. Carsharing may be thought of as organized short-term car rental.' %}</p>
			<p>{% trans 'Sign up today and start sharing our vehicules with hundred of other happy clients.' %}</p>
		</div>
	</div>
</section>