{% extends "base.html" %}
{% load i18n %}

{% block content %}
	{% include 'menu.html'             %}
	{% include 'introduction.html'     %}
	{% include 'about.html'            %}
	{% include 'application/core.html' %}
	{% include 'contact.html'          %}
	{% include 'map.html'              %}
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
	<script src="{{ STATIC_URL }}js/misc/grayscale.js"></script>
{% endblock %}