{% load i18n %}

<section class="intro">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="brand-heading">{% trans 'Car sharing' %}</h1>
					<p class="intro-text">{% trans 'A great way to save money and improve the environment.' %}</p>
					<div class="page-scroll">
						<a href="#about" class="btn btn-circle">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>